<!DOCTYPE html>
<html>
    <head>
        <title>Landing</title>
    </head>
    <body>
        <h1>Competitions</h1>
        <table id="navigation">
                <tr>
                    <td><h2>COMPETITION NAME   </h2></td>
                    <td><h2>DATE   </h2></td>
                </tr>
            {% for item in competitions %}
                <tr>
                    <td><a href={{ competitions[item].href }}>{{ competitions[item].caption }}</a></td>
                    <td><p>{{ competitions[item].date }}</p></td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>