<!DOCTYPE html>
<html>
    <head>
        <title>Landing</title>
    </head>
    <body>
        <h1>Competitions</h1>
        <table id="navigation">
            {% for item in competitions %}
                <tr><td><a href="{{ item.href }}">{{ item.caption }}</a></td>
                    <td><p>{{ item.date }}</p></td>
                    <td><p>THIS ROW RENDERED</p></td>
                </tr>
            {% endfor %}
        </table>
        <p>{{competitions['22'].caption}}</p>
    </body>
</html>